{% extends "backstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %} 器材管理 {% endblock title %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages[0] == 'No permission' %}  
<script language="javascript">
  alert('您沒有使用者的權限喔！');
</script>
{% endif %}
{% endwith %}

{% with messages = get_flashed_messages() %}
{% if messages[0] == 'failed' %}  
<script language="javascript">
  alert('有使用者有使用到這筆資料，所以不能刪除');
</script>
{% endif %}
{% endwith %}

{% with messages = get_flashed_messages() %}
{% if messages[0] == 'failed with UniqueViolation' %}  
<script language="javascript">
  alert('器材編號已存在，請使用其他器材編號。');
</script>
{% endif %}
{% endwith %}

<script>
    $(document).ready(function(){
        $("#keyword").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#equipment tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
&nbsp;
&nbsp;
<div class="d-flex justify-content-between container-xxl">
    <div class="d-flex col-sm-4">
        <span class="input-group-text" id="basic-addon1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </span>
        <input class="form-control me-2" id="keyword" placeholder="搜尋器材" aria-label="Search">
    </div>
    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        新增器材
    </button>
</div>

<form method="post" enctype=multipart/form-data action={{ url_for('manager_new.add_equipment') }}>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">新增器材</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="inputEquipmentId" class="form-label">器材編號</label>
                        <input type="text" class="form-control" id="inputEquipmentId" name="eId" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputEquipmentName" class="form-label">器材名稱</label>
                        <input type="text" class="form-control" id="inputEquipmentName" name="eName" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputEquipmentLocation" class="form-label">位置</label>
                        <input type="text" class="form-control" id="inputEquipmentLocation" name="eLocation" >
                    </div>
                    <div class="mb-3">
                        <label for="inputEquipmentQuantity" class="form-label">器材數量</label>
                        <input type="number" class="form-control" id="inputEquipmentQuantity" name="Quantity" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputEquipmentRemarks" class="form-label">備註</label>
                        <input type="text" class="form-control" id="inputEquipmentRemarks" name="Note" >
                    </div>
                    <div class="mb-3">
                        <label for="inputStudentLogistic" class="form-label">器材所屬後勤團隊</label>
                        <select id="inputStudentLogistic" class="form-select" name="lName">
                            <option selected disabled value="">請選擇後勤團隊</option>
                            {% for logistic in logistic_data %}
                                <option value="{{ logistic[0] }}" {% if equipment.lName == logistic[0] %}selected{% endif %}>
                                    {{ logistic[0] }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-success">確定新增</button>
                </div>
            </div>
        </div>
    </div>
</form>

<br/>

<div class="container-xxl">

<form method='post' action={{ url_for('manager_new.equipmentManager') }} >
<table id="manager_new" class="table table-bordered">
    <thead>
        <tr>
            <th width="10%"><center>器材編號</center></th>
            <th width="15%"><center>器材名稱</center></th>
            <th width="5%"><center>數量</center></th>
            <th width="10%"><center>位置</center></th>
            <th width="15%"><center>備註</center></th>
            <th width="10%"><center>管理組別</center></th>
            <th colspan="2"><center>資料操作</center></th>
        </tr>
    </thead>
    <tbody id="equipment">
    {% for i in equipment_data %}
        <tr>
            <td><center>{{ i.編號 }}</center></td>
            <td><center>{{ i.器材名稱 }}</center></td>
            <td><center>{{ i.數量 }}</center></td>
            <td><center>{{ i.位置 }}</center></td>
            <td><center>{{ i.備註 }}</center></td>
            <td><center>{{ i.組別名稱 }}</center></td>
            <td><center><button type="submit" value="{{i.編號}}" name="edit" class="btn btn-success">編輯器材</button></center></td>
            <td><center><button type="submit" value="{{i.編號}}" name="delete" onclick="return (confirm('你確定要刪除 \'{{ i.器材名稱 }}\' 嗎？'))" class="btn btn-danger">刪除器材</button></center></td>
        </tr>
    {% endfor %}
    </tbody>
    
</table>
</form>


</div>

<script>
    function have_product(){
      alert('有使用者有使用到這筆資料，所以不能刪除');
    }
</script>

{% endblock content %}