{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}社團管理系統{% endblock title%}

{% block content%}
<div class="position-absolute top-50 start-50 translate-middle">
    <img class="index_pic" src="{{ url_for('static', filename='./img/home.png') }}">
    <h1 class="index_title">社團管理系統</h1>
    <div class="btn_div">
        <a href="{{ url_for('manager_new.studentManager') }}">
            <button class="index_btn">登入</button>
        </a>
    </div>
</div>
{% endblock content%}