{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}Login Page{% endblock title%}

{% block content%}
<div class="position-absolute top-50 start-50 translate-middle outer_div ">
    <a href="{{ url_for('index') }}"><img class="icon" src="{{ url_for('static', filename='./img/home.png') }}"></a>
    <h1 class="register_title mb-4 mt-4">會員登入</h1>
    <div class="form_div">
        <form  method='post' action={{ url_for('api.login') }} >
            <p class="mb-4">
                帳號：<input type="text" name="account" required/>
            </p>
            <p class="mb-4">
                密碼：<input type="password" name="password" required/>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                
                <p class="same_accoount">
                    {% for i in messages %}
                        {{ i }}
                    {% endfor %}
                </p>
                {% endif %}
                {% endwith %}
            </p>
            <p class="mb-4">
                <a href="{{ url_for('index') }}">
                    <button type="button" class="register_btn">回上頁</button>
                </a>
                <button type="submit" class="register_btn">登入</button>
            </p>
        </form>
    </div>
</div>
{% endblock content%}